p {
    margin-bottom: 1em;
    margin: 20px 0;
}
table {
    background: #004b7a;
    border-collapse: collapse;
    border: none;
    border-spacing: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
    margin: 10px auto;
}
td {
    background: rgba(0, 0, 0, .1);
    border: 1px solid hsla(0, 0%, 100%, .25) !important;
    color: #ccc;
    margin: 3px;
    padding: 5px;
}
cover {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
}
.authors-note-start {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
    font-size: 0.8em;
}
.authors-note-end {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
    font-size: 0.8em;
}